
<h2 class="pageHeader">Edit Profile</h2>

<%= form_for @user, :html => {:multipart => true} do |f| %>
<div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :zip_code %><br />
  <%= f.text_field :zip_code %>
</div>

<div class="field">
  <%= f.label :photo %><br />
  <%= f.file_field :photo %>
</div>

<div class="field">
    <%= f.label :ethnicities %><br />
    <% 6.times do |n| %>
      <% if @user.ethnicities[n] %>
          <input name="user[ethnicities][]" type="text" value="<%=@user.ethnicities[n]%>"/>
      <% else %>
          <input name="user[ethnicities][]" type="text"/>
      <% end %>
    <% end %>
</div>

<div class="actions">
  <%= f.submit "Update" %>
</div>
<% end %>
