<!DOCTYPE html>
<html>
<head>
  <title>Chezcasa</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <h1>Chezcasa</h1>
    <nav>
        <h3><a href="/dishes">Dishes</a></h3>
        <h3><%= link_to "Post a Dish!", new_dish_path if can? :create, :dish %></h3>
        <h3><a href="/users">Users</a></h3>
        <h3><%= link_to "My Profile", user_path(current_user) if current_user %></h3>
        <h3><%= link_to "Sign Up", new_user_registration_path if !current_user %></h3>
        <h3><%= link_to "Log In", new_user_session_path if !current_user %></h3>
        <h3><%= link_to "Sign Out", destroy_user_session_path, method: :delete if current_user %></h3>
        <h3><a href="javascript:history.back()">Back</a></h3>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
